@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.navbar {
    background-color: #EE5253;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 20%;
}

.error-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.error-container h1 {
    font-size: 2.5rem;
    color: #EE5253;
}

.error-container p {
    font-size: 1.2rem;
    color: black;
}
