<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in & Sign up Form</title>
    <link rel="icon" type="image/webp" href="img/favicon.webp" />
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="/login" method="POST" autocomplete="off" class="sign-in-form">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              
              <div class="heading">
                <h2>Welcome Back</h2>
                <h6>Not registred yet?</h6>
                <a href="#" class="toggle">Sign up</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    name="identifier"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Username/Email</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    name="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Password</label>
                </div>

                <input type="submit" value="Sign In" class="sign-btn" />
              </div>
              <div class="google">
                <h3>Or Sign In with</h3>
                <a href="/login/federated/google" class="login_google">
                  <img src="./img/login_google.png" alt="login_google">
                </a>
              </div>
            </form>

            <form action="/signup" method="POST" autocomplete="off" class="sign-up-form">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

              <div class="heading">
                <h2>Get Started</h2>
                <h6>Already have an account?</h6>
                <a href="#" class="toggle">Sign in</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    name="name"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Name</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="text"
                    name="username"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Username</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    name="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Password</label>
                </div>

                <input type="submit" value="Sign Up" class="sign-btn" />
              </div>
              <div class="google">
                <h3>Or Sign Up with</h3>
                <a href="/login/federated/google" class="login_google">
                  <img src="./img/login_google.png" alt="login_google">
                </a>
              </div>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="./img/baca_1_edit.png" class="image img-1 show" alt="" />
              <img src="./img/baca_2_edit.png" class="image img-2" alt="" />
              <img src="./img/baca_3.png" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Personalized your news feeds</h2>
                  <h2>Explore other news</h2>
                  <h2>Enjoy news like never before</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="script/script_index.js"></script>
  </body>
</html>
