<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>NewsGram</title>
    </head>
    <body>
        <h1>
            NewsGram by TLE
        </h1>

        <a href='/login/federated/google'>Sign In</a>
    </body>
</html>